* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  outline: none;
  border: none;
  box-sizing: border-box;
}

button {
  cursor: pointer;
  transition: .1s ease-in-out;
}

button:active {
  transform: scale(.95);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  /* color: white;
  background: black; */
}

/* Defaults */
.wrapper nav,
.wrapper nav .add,
.wrapper nav .search-wrapper,
.wrapper .todos-wrapper,
.wrapper .todos-wrapper .todos .mark-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


/* Wrapper */
.wrapper {
  max-width: 1300px;
  margin: auto;
}

/* Nav */
.wrapper nav {
  padding: 1em 0;
}
.wrapper nav .logo {
  color: inherit;
  font-weight: bold;
}
.wrapper nav .add {
  color: inherit;
  font-weight: bold;
  padding: .8em 1em;
  font-size: 14px;
  border: 1px solid;
  border-radius: 5px;
}
.wrapper nav .add p {
  margin-left: 5px;
}

/* nav search */
.wrapper nav .search-wrapper {
  position: relative;
  width: calc(100% - 60%);
}
.wrapper nav .search-wrapper input {
  padding: 1em;
  border: 1px solid;
  width: 100%;
  border-radius: 5px;
}
.wrapper nav .search-wrapper button {
  position: absolute;
  right: 15px;
  background: transparent;
}

/* Todos Wrapper */
.wrapper .todos-wrapper {
  width: 100%;
  justify-content: space-around;
  margin: 2em 0;
}
/* Todos */
.wrapper .todos-wrapper .todos {
  width: 200px;
  height: 220px;
  border: 1px solid;
  position: relative;
  padding: 0 1em;
  border-radius: 5px;
  overflow: hidden;
  margin: 1em;
}
.wrapper .todos-wrapper .todos .edit {
  position: absolute;
  left: 0;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
  border-radius: 0 0 5px 0px;
  padding: 1em;
  font-size: 12px;
  background: transparent;
  color: inherit;
}
.wrapper .todos-wrapper .todos .delete {
  position: absolute;
  right: 0;
  border-left: 1px solid gray;
  border-bottom: 1px solid gray;
  border-radius: 0 0 0 5px;
  padding: 1em;
  font-size: 12px;
  background: transparent;
}
.wrapper .todos-wrapper .todos .title {
  margin: 3.3em 0 .5em;
  text-align: center;
  font-weight: bold;
  text-transform: capitalize;
}
.wrapper .todos-wrapper .todos .description {
  height: 73px;
  margin-bottom: 1.5em;
}
.wrapper .todos-wrapper .todos .mark-wrapper {
  width: 100%;
  justify-content: center;
}
.wrapper .todos-wrapper .todos .mark-wrapper p {
  margin-right: 5px;
}

.wrapper .todos-wrapper .todos .mark-wrapper input {
  cursor: pointer;
  border-radius: 50em;
}

/* Form Wrapper */
.wrapper .form-wrapper form {
  width: 500px;
  margin: 3em auto 1em;
}
.wrapper .form-wrapper form h2 {
  margin-bottom: 1em;
  text-align: center;
}
.wrapper .form-wrapper form input {
  width: 100%;
  padding: 1em;
  margin: .5em 0;
  border: 1px solid gray;
  border-radius: 5px;
}

.wrapper .form-wrapper form button {
  display: block;
  margin: 1.5em auto 0;
  padding: 1em 2em;
  border: 1px solid gray;
  border-radius: 5px;
  background: transparent;
  text-transform: uppercase;
  font-weight: bold;
}

/* Footer */
footer {
  text-align: center;
  padding: 1em 0;
}

/* Media Queries */
@media screen and (max-width: 1300px) {
  .wrapper {
    width: 100%;
  }
  .wrapper nav {
    padding: 1em;
  }
}